.vscode
preprocess
results
results_img
sample_videos
wandb
test
generation
temp
slurm_log
huggingface

__pycache__/
*.py[cod]
*$py.class

pretrained
results_t2v
results_t2v/*
results_adaptive_timesteps
results_adaptive_schedule
paper/qualitative_video
sample/ucf101128_adaptive_schedule
sample/ucf101256_adaptive_schedule
sample/dmlab_adaptive_schedule